body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 50px;
}

.indigo {
  width: 400px;
}

.image {
  width: 800px;
}

a {
  text-decoration: none;
  text-align: center;
  color: #24325b;
}

p {
  font-size: 15px;
}

@media only screen and (max-width: 875px) {
  body {
    margin: 20px 50px;
  }

  .indigo {
    width: 300px;
  }

  .image {
    width: 700px;
  }

  p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 705px) {
  body {
    margin: 20px 20px;
  }

  .indigo {
    width: 200px;
  }

  .image {
    width: 500px;
  }

  p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 530px) {
  body {
    margin: 10px 10px;
  }

  .indigo {
    width: 150px;
  }

  .image {
    width: 390px;
  }

  p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 410px) {
  body {
    margin: 10px 10px;
  }

  .indigo {
    width: 150px;
  }

  .image {
    width: 350px;
  }

  p {
    font-size: 11px;
  }
}

@media only screen and (max-width: 363px) {
  body {
    margin: 10px 10px;
  }

  .indigo {
    width: 150px;
  }

  .image {
    width: 300px;
  }

  p {
    font-size: 11px;
  }
}
